/*------------------------------------*\
  # CSS RESET
\*------------------------------------*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*------------------------------------*\
  # BASE LAYOUT
\*------------------------------------*/
body {
  color: white;
  overflow-x: hidden;
  position: relative;
  font-family: "Sofia Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.darkened {
  position: absolute;
  z-index: 98;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

/*------------------------------------*\
  # HEADER
\*------------------------------------*/
header {
  background-color: #6969ae;
  height: 100px;
  display: flex;
  position: relative;
  z-index: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin-inline: auto;
  flex-grow: 1;
  position: relative;
}
.header-container::after {
  content: "";
  right: -200px;
  bottom: -650px;
  position: absolute;
  background-image: url("./imgs/squircle.svg");
  width: 300px;
  height: 300px;
}
.header-container .title a {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-container .title a .logo img {
  max-width: 50px;
  max-height: 50px;
}

ul {
  display: flex;
  gap: 25px;
}

button,
input[type=submit] {
  padding: 10px 20px;
  border: 0px transparent;
  border-radius: 25px;
  cursor: pointer;
  background-color: #9191bd;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*------------------------------------*\
  # MAIN
\*------------------------------------*/
main {
  background-color: #9b9cc7;
  min-height: calc(100vh - 175px);
}

.content {
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}
.content::before {
  content: "";
  left: -150px;
  top: -50px;
  position: absolute;
  background-image: url("./imgs/squircle.svg");
  width: 300px;
  height: 300px;
}

.add-book-btn {
  transform: translateY(-50%);
  background-color: black;
  color: white;
  padding: 15px 35px;
  font-size: 1.1rem;
  position: relative;
  z-index: 2;
}

.modal {
  background-color: #9b9cc7;
  position: absolute;
  min-width: 300px;
  top: -500px;
  transform: scale(0);
  padding: 35px 40px;
  opacity: 0;
  transition: all 0.25s ease-out;
  border-radius: 30px;
  z-index: 99;
}
.modal.active {
  top: 15px;
  transform: scale(1);
  opacity: 1;
}
.modal textarea {
  resize: none;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.modal form input[type=text],
.modal form input[type=number] {
  border: 0px;
  border: transparent;
  border-radius: 5px;
  padding: 10px 20px;
}
.modal form input::-webkit-outer-spin-button,
.modal form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal form input[type=number] {
  -moz-appearance: textfield;
}
.modal form input[type=submit] {
  margin-top: 15px;
  background-color: black;
}

.books-grid {
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-auto-rows: 283px;
  align-items: center;
  justify-items: center;
}

.book {
  min-width: 200px;
  max-width: 250px;
  max-height: 280px;
  overflow: scroll;
  text-align: center;
  background-color: #d6d6ff;
  color: black;
  padding: 25px 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.book button {
  background-color: #ec3d3d;
}

/*------------------------------------*\
  # FOOTER
\*------------------------------------*/
footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 75px;
  position: relative;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */